<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> فعالسازی حساب کاربری </title>
</head>
<body>

    <main>
        <h1> فعالسازی حساب کاربری </h1>
        <p> جهت فعالسازی حساب خود بر روی لینک زیر کلیک کنید. </p>
        <a href="">  </a>

    </main>
    
</body>
</html>