@import url('../fonts/fonts.css');

:root {
	--direction: rtl;
	--background-color: #260e3f;
	--foreground-color: #fff;
	--linker-color: #14aae6;
	--paper-color: #332641;
	--scrollbar-foreground-color: #cabebe;
	--scrollbar-foreground-color-hover: #a39b9b;
	--border-color: #0e0e0e0e;
	--bit-background-color: "#00000009";

}

* {
	padding: 0;
	margin: 0;
	outline: 0;
	font-family: iranyekan, vazirmatn, Roboto !important;
	text-decoration: none;
	box-sizing: border-box;
}


body {
	width: 100%;
	height: 100%;
	background-color: var(--background-color) !important;
	color: var(--foreground-color) !important;
	direction: var(--direction);
}

::-webkit-scrollbar {
	width: 8px;
	border-radius: 50%;
}
  
::-webkit-scrollbar-track {
	background: var(--background-color);
	transition: all 0.3s ease-in-out;
}
::-webkit-scrollbar-thumb {
	background: var(--scrollbar-foreground-color);
	transition: all 0.3s ease-in-out;
	border-radius: 50px;
}
  
::-webkit-scrollbar-thumb:hover {
	background: var(--scrollbar-foreground-color-hover);
}


.center {
	text-align: center !important;
	justify-content: center !important;
	justify-items: center !important;
	justify-self: center !important;
	align-items: center !important;
	align-self: center !important;
	align-content: center !important;
}
.text-center {
	text-align: center !important;
}


.copyright {
	color: var(--foreground-color) !important;
}

ul.nav-link-list {
	display:inline-flex;
	flex-direction: row;
	text-align: center;
	margin: auto;
}
ul.nav-link-list li {
	margin-right: 40px;
	width: fit-content !important;
	padding: 0;
	text-align: center;
}
ul.nav-link-list li a {
	color: var(--foreground-color);
	font-size: larger;
	transition: all 0.4s ease;
}
ul.nav-link-list li a:hover{
	color: var(--linker-color);
	transform: translateY(-.2em) scale(1.1);
}
ul.nav-link-list li a.active {
	color: var(--linker-color);
}

ul.drawer-link-list a {
	transition: all 0.25s;
}
ul.drawer-link-list a:hover {
	color: var(--linker-color);
}
ul.drawer-link-list a.active {
	color: var(--linker-color);
}


.brand {
	font-weight: bolder !important;
	font-size: larger !important;
}



footer, header  {
	padding: 0 !important;
	margin: 0 !important;
	outline: 0 !important;
	display: block;
	user-select: none;
	transition: all 1s ease-in-out;
}




ul.footer-link-list li a {
	color: var(--foreground-color);
	transition: all 0.3s ease;
}
ul.footer-link-list li a:hover {
	color: var(--linker-color);
}

.icon-telegram, .icon-twitter, .icon-instagram {
	transition: all 0.5s ease-in-out !important;
}
.icon-telegram:hover {
	background-color: #229ED9 !important;
}
.icon-twitter:hover {
	background-color: #1DA1F2 !important;

}
.icon-instagram:hover {
	animation: instagram 2s;

	background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
				radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
				radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
				radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
				radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
				radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
				radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
				linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%) !important;
}

@keyframes instagram {
	0% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
	}
	
}


.thumbnail {
	width: 200px !important;
	height: auto !important;
	min-height: 150px !important;
	max-height: 200px !important;
	border-radius: 20px;
	border: 1px solid var(--border-color);
	object-fit: cover;
}


.relative {
	position: relative;
	margin-bottom: 0 !important;
	height: auto;
}


video.top-video {
	background-size: contain !important;
	user-select: text;
	pointer-events: none;
	filter: blur(8px);
	-webkit-filter: blur(8px);
	position: relative;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	
}
.on-video-content {
	position: relative;
	z-index: 0;
	user-select: text;
}
.top-video-details *{
	padding: 0;
	background-color: var(--bit-background-color);
	display: flex !important;
	flex-wrap: wrap;
	align-items: center;
	text-align: justify;
	gap: 10px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.dalton-badge {
	color: #000000 ;
    display: inline-block ;
	padding: 0;
    border-radius: 50%;
	background-color: rgb(240, 132, 83);
	width: fit-content;
	height: fit-content;
	min-height: 35px;
	min-width: 35px;
	font-size: smaller;
	font-weight: light;
}


img, video {
	user-select: none !important;
	pointer-events: none !important;
}

button, a {
	cursor: pointer !important;
}
